// Page Imports

// Component Imports
@import "./Header/hamburger";
@import "./Header/sidedrawer";
@import "./Header/navbar";
@import './Header/headerbtn';

// header styles
header {
  width: 100%;
  height: 10vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #fff;
}

@media (max-width: 768px) {
  header {
    background-color: #ffc145;
  }
}