// Functions
@function color($color-name) {
  @return map-get($colors, $color-name);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 10vh;
  &__navigation {
    ul {
      display: flex;
      align-items: center;
      list-style: none;
    }
    a {
      text-decoration: none;
      color: color(text);

      &:hover,
      &:active {
        color: color(primary-dark);
      }
    }
    li {
      padding: 1rem;
      font-size: 18px;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    img {
      height: 6vh;
      width: 6vh;
    }
    h1 {
      margin-left: 0.5rem;
    }
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}
@media (max-width: 768px) {
  .navbar {
    width: 90%;
  }
}
