@function color($color-name) {
  @return map-get($colors, $color-name);
}

.providerslist-card {
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  .back-arrow {
    position: absolute;
    top: 50px;
    left: 50px;
    color: color(secondary);
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .title {
    text-align: center;
    width: 100%;
    margin: 2rem 0;
  }

  .professions-bar {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 60%;
    .profession-item {
      padding: 1rem 2rem;
      margin: 0.5rem;
      background-color: color(secondary);
      border-radius: 10px;
      color: color(text);
      cursor: pointer;
      &:hover {
        background-color: color(secondary-light);
      }
    }
  }
}
