.registration-card {
  width: 500px;
  height: 700px;
  border-radius: 10px;
  box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  color: color(secondary);
  p {
    color: red;
  }
  &__title {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
  }
  form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .input-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 1rem 0;

      .text-field {
        margin: 0.5rem 0;
        width: 100%;
        height: 30px;
        border: none;
        border-radius: 10px;
        box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.25);
        &:focus {
          outline: none;
        }
      }
    }
    .check-group {
      width: 100%;
      display: flex;
      margin: 1rem 0;
      align-items: center;
      label {
        margin-left: 0.5rem;
      }
    }
  }
}
