// oldal főosztály
.authentication {
  background: linear-gradient(
      135deg,
      rgba(255, 193, 69, 0.4) 0%,
      rgba(255, 193, 69, 0.4) 100%
    ),
    url("../Images/auth-background.jpg") center no-repeat;
  background-size: cover;
  // oldal tartalom
  &__container {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 5% 1fr 30% 1fr 5%;
    grid-template-rows: 10% 1fr 10%;
    height: 100%;
  }
  // kezelő felület kártya
  &__card {
    background-color: #fff;
    height: auto;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.25);
    // kártya űrlap
    form {
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      // regisztráció checkbox
      .checkbox {
        margin: 15px 0;
        color: #000;
        span {
          margin-left: 5px;
        }
      }
    }
    // vízszintes konténer
    .horizontal-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .input-container {
        width: 45%;
      }
      // gomb méret
      .btn,
      .btn-white {
        width: 45%;
      }
    }
    // kártyák közötti szöveg
    .redirect {
      font-size: 18px;
      font-weight: 500;
      width: 80%;
      margin: auto;
      color: #000;
      span {
        font-weight: 700;
        color: color(secondary);
        cursor: pointer;
      }
    }
    // összegző kártya regisztráció
    .confirm-card {
      width: 80%;
      margin: auto;
      padding: 10px;
      background: #ccc;
      color: #000;
      font-family: 'Roboto', sans-serif;
    }
  }
  // bejelentkezés extra
  .login {
    grid-column: 2/3;
    grid-row: 2/3;
    form {
      .input-container {
        margin: 30px 0;
      }
    }
  }
  // regisztráció extra
  .registration {
    grid-column: 4/5;
    grid-row: 2/3;
    form {
      .input-container {
        margin: 15px 0;
      }
      .autofill-input {
        margin: 30px 0;
        width: 100%;
        padding: 0 5px;
        input {
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .authentication {
    &__container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
    &__card {
      justify-self: center;
      max-width: 400px;
    }
    .login,
    .registration {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }
}