// oldal főosztály
.contact {
  background: linear-gradient(
      135deg,
      rgba(255, 193, 69, 0.4) 0%,
      rgba(255, 193, 69, 0.4) 100%
    ),
    url("../Images/background.jpg") center no-repeat;
  background-size: cover;
  // oldal tartalom
  &__container {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 5% 1.5fr 10% 1fr 5%;
    grid-template-rows: 10% 1fr 10%;
    // elérhetőségi adatok
    .contact-data {
      color: #000;
      grid-column: 2/3;
      grid-row: 2/3;
      width: 80%;
      height: 80%;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.25);
      align-self: center;
      justify-self: center;
      // tartalom
      &__container {
        height: 50%;
        width: 60%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      // elem
      &__item {
        margin: 1rem 0;
        .contact-icon {
          color: color(secondary);
          margin-right: 0.5rem;
        }
      }
    }
    // üzenetküldő űrlap
    .contact-us {
      grid-column: 4/5;
      grid-row: 2/3;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.25);
      // űrlap
      form {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
@media (max-width: 768px) {
  .contact {
    &__container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1.5fr;
      .contact-data {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
        max-width: 400px;
        &__title {
          font-size: 1.2rem;
          margin: 1.5rem 0;
        }
        &__container {
          width: 80%;
        }
        &__item {
          margin: 0.5rem 0;
        }
      }
      .contact-us {
        justify-self: center;
        width: 100%;
        max-width: 400px;
        grid-column: 1/2;
        grid-row: 2/3;
      }
    }
  }
}