@function color($color-name) {
  @return map-get($colors, $color-name);
}

.hero {
  color: color(text);
  width: 100%;
  height: 70vh;
  background: linear-gradient(
      135deg,
      rgba(255, 193, 69, 0.4) 0%,
      rgba(255, 193, 69, 0.4) 100%
    ),
    url("../Images/background.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 1fr;
  &__container {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 3fr;

    .main-message {
      grid-column: 1/2;
      grid-row: 2/3;

      .title {
        font-size: 48px;
      }
      .subtitle {
        font-size: 24px;
      }
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 45%;
    background: url("../Images/wave.svg") center no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: cover;
  }
}

.call-to-action {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 1fr;
  height: 30vh;
  background-color: white;
  &__container {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;

    .autofill-input {
      position: absolute;
      z-index: 1;
      align-self: flex-start;
      justify-self: center;
    }
    .city {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .profession {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    .btn {
      grid-column: 1/3;
      grid-row: 3/4;
      align-self: center;
      justify-self: center;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    grid-template-columns: 5% 1fr 5%;
    &__container {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 15vh 3fr 2fr;
      .main-message {
        .title {
          font-size: 36px;
        }
        .subtitle {
          font-size: 20px;
        }
      }
    }
  }
  .call-to-action {
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 1fr;
    &__container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      .autofill-input {
        position: relative;
      }
      .city {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      .profession {
        grid-column: 1/2;
        grid-row: 2/3;
      }

      .btn {
        grid-column: 1/2;
        grid-row: 3/4;
        align-self: center;
        justify-self: center;
      }
    }
  }
}
