@function color($color-name) {
  @return map-get($colors, $color-name);
}

.hero {
  color: color(text);
  width: 100%;
  height: 70vh;
  background: linear-gradient(
      135deg,
      rgba(255, 193, 69, 0.4) 0%,
      rgba(255, 193, 69, 0.4) 100%
    ),
    url("../Images/background.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  &__container {
    height: 100%;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 2fr 3fr 3fr;

    .main-message {
      grid-column: 2/3;
      grid-row: 2/3;

      .title {
        font-size: 48px;
      }
      .subtitle {
        font-size: 24px;
      }
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 45%;
    background: url("../Images/wave.svg") center no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: cover;
  }
}

.call-to-action {
  height: 30vh;
  background-color: white;
  &__container {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 1fr 2fr 2fr 1fr;

    .autofill-input {
      align-self: flex-start;
      justify-self: center;
    }
    .city {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    .profession {
      grid-column: 3/4;
      grid-row: 2/3;
    }

    .btn {
      grid-column: 2/4;
      grid-row: 3/4;
      align-self: center;
      justify-self: center;
    }
  }
}
