.notfound {
  background: linear-gradient(
      135deg,
      rgba(255, 193, 69, 0.4) 0%,
      rgba(255, 193, 69, 0.4) 100%
    ),
    url("../Images/background.jpg") center no-repeat;
  background-size: cover;
  &__container {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .title {
      font-size: 48px;
      font-weight: 800;
      margin: 1rem 0;
    }
    .subtitle {
      font-size: 24px;
      margin: 0.5rem 0;
    }

    .btn {
      margin: 1rem 0;
    }
  }
}
@media (max-width: 768px) {
  .notfound {
    height: auto;
    .title {
      color: color(secondary);
    }
    .subtitle {
      color: #000;
    }
  }
}
