// oldal főosztály
.notfound {
  background: linear-gradient(
      135deg,
      rgba(255, 193, 69, 0.4) 0%,
      rgba(255, 193, 69, 0.4) 100%
    ),
    url("../Images/background.jpg") center no-repeat;
  background-size: cover;
  // oldal tartalom
  &__container {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // hiba cím
    .error-title {
      font-size: 48px;
      font-weight: 800;
      margin: 1rem 0;
    }
    // hiba leírás
    .subtitle {
      font-size: 24px;
      margin: 0.5rem 0;
    }
    // gomb 
    .btn {
      height: 50px;
      padding: 10px 30px;
      text-decoration: none;
      background-color: color(secondary);
      text-transform: uppercase;
      font-weight: bold;
      color: color(text);
      border-radius: 10px;
      border: 3px solid color(secondary);
      cursor: pointer;
      text-align: center;
      &:focus {
        outline: none;
      }
      &:hover {
        background-color: color(text);
        color: color(secondary);
        border: 3px solid color(secondary);
      }
    }
  }
}
@media (max-width: 768px) {
  .notfound {
    height: auto;
    .title {
      color: color(secondary);
    }
    .subtitle {
      color: #000;
    }
  }
}