.offer {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
      135deg,
      rgba(255, 193, 69, 0.4) 0%,
      rgba(255, 193, 69, 0.4) 100%
    ),
    url("../Images/background.jpg") center no-repeat;
  background-size: cover;
  &__container {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    .offer-card {
      max-width: 1000px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.25);
      
      &__title {
        width: 100%;
        text-align: center;
        color: color(secondary);
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
      }
      .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 2fr 1fr;
        width: 80%;
        margin: auto;
        .btn {
          margin: 2rem 0;
          height: 50px;
        }
        p {
          color: red;
        }
      }
      &__input {
        width: 100%;
        height: 40px;
        margin: 1.5rem 0;
        padding-left: 0.5rem;
        border: none;
        border-radius: 10px;
        box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.25);
        &:focus {
          outline: none;
        }
      }
      &__text {
        width: 100%;
        max-width: 100%;
        height: 100px;
        margin: 1.5rem 0;
        padding-left: 0.5rem;
        padding-top: 0.5rem;
        border: none;
        border-radius: 10px;
        box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.25);
        &:focus {
          outline: none;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .offer {
    &__container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      .offer-card {
        grid-column: 1/2;
        grid-row: 1/2;
      }
    }
  }
}
