.providers {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
      135deg,
      rgba(255, 193, 69, 0.4) 0%,
      rgba(255, 193, 69, 0.4) 100%
    ),
    url("../Images/background.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  &__container {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    .provider-card {
      background-color: #fff;
      min-height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      position: relative;
      box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.25);
      .title {
        color: color(secondary);
        margin: 2rem 0;
      }
      .back-arrow {
        position: absolute;
        top: 2rem;
        left: 2rem;
        color: color(secondary);
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
      .providers-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      .professions-bar {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 60%;
        .profession-item {
          padding: 1rem 2rem;
          margin: 0.5rem;
          background-color: color(secondary);
          border-radius: 10px;
          color: color(text);
          cursor: pointer;
          &:hover {
            background-color: color(secondary-light);
          }
        }
      }
    }
    .list {
      max-width: 1200px;
    }
    .categories {
      max-width: 1200px;
      justify-content: center;
    }
  }
}
