@import "../components/Profile/profilecard";
// oldal főosztály
.profile {
  background: linear-gradient(
      135deg,
      rgba(255, 193, 69, 0.4) 0%,
      rgba(255, 193, 69, 0.4) 100%
    ),
    url("../Images/background.jpg") center no-repeat;
  background-size: cover;
  // töltési gif
  .loading {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .profile {
    height: auto;
    background: #fff;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 15vh 1fr 10vh;
  }
}