// felső design rész
.pvheader {
  width: 100%;
  height: 40vh;
  background: linear-gradient(
      135deg,
      rgba(255, 193, 69, 0.4) 0%,
      rgba(255, 193, 69, 0.4) 100%
    ),
    url("../Images/background.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  // hullám
  &::before {
    content: "";
    width: 100%;
    height: 65%;
    background: url("../Images/wave.svg") center no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: cover;
  }
}
// oldal tartalom
.pvlist {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 1fr auto 1fr;
  // keresés
  .search {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr;
    
    .city {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: flex-start;
      justify-self: center;
    }
    .profession {
      grid-column: 2/3;
      grid-row: 1/2;
      align-self: flex-start;
      justify-self: center;
    }
    .btn {
      grid-column: 3/4;
      grid-row: 1/2;
      align-self: flex-start;
      justify-self: center;

      padding: 10px 30px;
    }
  }
  & > div {
    width: 100%;
  }
  // szakemberek
  .content {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 1rem 0;
    width: 100%;
  }
  // lapozó
  .pagination {
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .pvlist {
    .search {
      grid-column: 2/3;
      grid-row: 1/2;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      .city {
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: flex-start;
        justify-self: center;
      }
      .profession {
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: flex-start;
        justify-self: center;
      }
      .btn {
        grid-column: 1/2;
        grid-row: 3/4;
        align-self: flex-start;
        justify-self: center;
      }
    }
  }
}