@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Color declaration
$colors: (
  primary: #ffc145,
  primary-light: lighten(#ffc145, 5%),
  primary-lighter: lighten(#ffc145, 30%),
  primary-dark: darken(#ffc145, 10%),
  primary-darker: darken(#ffc145, 15%),
  secondary: #3a0088,
  secondary-dark: darken(#3a0088, 10%),
  secondary-light: lighten(#3a0088, 10%),
  text: #fff,
  darker-text: #bdbdbd,
);

// Imports
@import "./scss/header";
@import "./scss/media";
@import "./scss/footer";
@import "./scss/main";

// Functions
@function color($color-name) {
  @return map-get($colors, $color-name);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", sans-serif;
}
img {
  width: 100px;
  height: 100px;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 1.3rem;
}
.btn {
  text-decoration: none;
  background-color: color(secondary);
  text-transform: uppercase;
  font-weight: bold;
  color: color(text);
  border-radius: 10px;
  margin: 1rem 0;
  padding: 0.5rem 3rem;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: color(secondary-light);
  }
}

.section {
  color: color(text);
  min-height: 100vh;
  height: auto;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 15% 1fr 5%;
}

@media (max-width: 768px) {
  .section {
    background: #fff;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 15vh 1fr 10vh;
  }
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: color(primary-lighter);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: color(primary);
  border-radius: 2.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: color(primary-dark);
  border-radius: 5px;
}

.error-message {
  color: #3a0088;
  font-size: 14px;
  text-transform: uppercase;
}